alias_clb_off-20230531
alias_clb_off2.txt
aliases-20230531
combined_all2023.csv
combined_all2024.csv
combined_all2024.xlsx
combined_used2023.csv
mail5_alias_counts2023.csv
mail6_alias_counts2023.csv
mail7_alias_counts2023.csv
mail8_alias_counts2023.csv
mail-alias-count3.ps1
maillog-20220825
maillog-20220825.gz
MailLogGZSearch.ps1
MailLogGZSearch2.ps1
aliases2.txt
aliases.csv
mail7/alias_clb_off
mail7/aliases
mail7/aliases_spd
mail7/mail_alias_counts.csv
mail7/maillog-20241217.gz
mail7/maillog-20241218.gz
mail7/maillog-20241219.gz
mail7/main.cf
mail7/master.cf
